
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <img src="assets/img/medbook.png" class="img-fluid" style="width: 100px;">
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="#0">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
       <div class="content">
        <div class="container-fluid">
            <div class="card-body">
              <div class="row">
                  <form [formGroup]="PatientForm">
                      <h1> Patient Form</h1>
                    <div class="form-group">
                      <label for="name">
                        Name
                      </label>
                      <input type="text" placeholder="John Wick" formControlName="name" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="dob">
                        Date Of Birth
                      </label>
                      <input type="date" class="form-control" formControlName="dob" name="dob" id="dob">
                    </div>
                    <div class="form-group">
                      <label for="dob">
                        Gender
                      </label>
                      <select class="form-control" id="gender" formControlName="gender" name="gender">
                          <option value="" selected disabled>Select</option> 
                        <option value="male" >Male</option>
                        <option value="male">Female</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="service">
                        Type Of Service
                      </label>
                      <select class="form-control" id="service" formControlName="service" name="service">
                        <option value="" selected disabled>Select</option> 
                        <option value="inpatient">Inpatient</option>
                        <option value="outpatient">Outpatient</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="comments">General Comments</label>
                      <textarea id="comments" formControlName="comments"  name="comments" class="form-control">
                      </textarea>
                    </div>
                    <button type="submit" (click)="submitPatient()" class="btn btn-primary">Submit</button>
                    
                    <div *ngIf="success" class="alert alert-success alert-dismissible">
                        <strong>Success!</strong>
                        The Patient was successfully added
                    </div>
                    <div *ngIf="submiterror" class="alert alert-danger alert-dismissible ">
                        <strong>Error!</strong>
                        Sorry something went wrong. Please try again.
                    </div>
                    <div *ngIf="submitted && PatientForm.invalid" class="alert alert-danger alert-dismissible ">
                        <strong>Error!</strong>
                        Your form is invalid check it and try again.
                    </div>
                  </form>
              </div>
            </div>
            <div class="row">
                <div class="tble-responsive">
                    <table class="table">
                        <!-- <trhead> -->
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date Of Birth</th>
                                <th>Gender</th>
                                <th>Type Of Service</th>
                                <th>General Comments</th>
                            </tr>
                        <!-- </trhead> -->
                        <tbody>
                            <tr *ngFor="let patient of patients; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{patient['name']}}</td>
                                <td>{{patient['date_of_birth']}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  Medbook
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script> <a href="https://medbookafrica.com" target="_blank">Medbook</a>         </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>